#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


.mobile-auth {
  background-image: url(../public/images/Hero.png);
  width: 100%;
  background-size: cover;
}
